body {
    font-family: "Century Gothic", sans-serif;
    background-color:#e6f7ff;
    margin: 0px;
  }
  
  .container {
    display: table-column-group;
  }
  
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
  }
  
  .left-side {
    display: flex;
  }
  
  .nav-wrapper > .left-side > div {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  
  .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
  }
  
  .active-nav-link {
    border-bottom: 1px solid #336699;
  }
  
  .active-nav-link a {
    color:#336699 !important;
  }
  
  .nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
  }
  
  .nav-link-wrapper:hover {
    border-bottom: 1px solid #336699;
  }
  
  .nav-link-wrapper a:hover {
    color: #336699;
  }
  
  .portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .portfolio-item-wrapper {
    position: relative;
  }
  
  .portfolio-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
  }
  
  .img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .img-text-wrapper .subtitle {
    transition: 1s;
    color: transparent;
  }
  
  .image-blur {
    transition: 1s;
    filter: brightness(10%);
  }
  
  .img-text-wrapper:hover .subtitle {
    color:#336699;
    font-weight: 600;
  }
  
  .logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
  }
  
  .two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .general-image-wrapper img {
    width:400px;
    height: 500px;
    padding: 30px;
  }
  
  .work-image-wrapper img {
    width:400px;
    height: 625px;
    padding: 30px;
  }
  
  .project-image-wrapper img {
    width:400px;
    height: 685px;
    padding: 30px;
  }
  
  .volunteering-image-wrapper img {
    width:400px;
    height: 675px;
    padding: 30px;
  }
  
  .general-content-wrapper {
    padding: 30px;
  }
  
  .general-content-wrapper h1 {
    color:#336699;
  }
  
  .brand {
    color: #336699
  }
  
  @media screen and (max-width: 700px) {
    .two-column-wrapper {
      display: grid;
      grid-template-columns: 1fr;
    }
    img[data-src-700px] {
      content: attr(data-src-700px, url);
    }
  }